@charset "UTF-8"; /*
	Description: Reset style
	Date: 00-00-0000
	Time: 00-00
	Author://
*/
/* ------------------------------------------------- reset.css ------------------------------------------------------ */

address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
dd,
details,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
mark,
menu,
nav,
ol,
p,
q,
section,
select,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  background-color: transparent;

  &:active,
  &:hover {
    outline: none;
  }

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
td img {
  vertical-align: top;
}

address,
article,
aside,
blockquote,
center,
dd,
details,
dir,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
frameset,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
isindex,
main,
menu,
nav,
noframes,
noscript,
ol,
p,
pre,
section,
summary,
ul {
  display: block;
}

nav {
  ul {
    list-style: none;
  }
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-rendering: optimizelegibility;//
}

body,
html {
  height: 100%;
}